/** {box-sizing: border-box;}*/

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.header {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #b1eee9;
  /*padding: 20px 10px;*/
}

.header a {
  float: top;
  color: black;
  text-align: center;
  margin-left: 2ch;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 50px;
  border-radius: 4px;
}

.header a.logo {
  padding-left: 10%;
  /*padding: 10px;*/
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  /*background-color: dodgerblue;*/
  color: black;
}

.header-left {
  float: left;
  line-height: 20px;


}

.header-right {
  padding-left: 10%;
  background-color: #330067;
  border-top: solid 5px #796272;
}
.header-right a{
  background-color: #b1eee9;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-right a:hover{
  background-color: #dff8f6;
  color: black;
}
footer {
    background-color: #b1ede8;
    border-top: Solid 5px #a780fe;
    padding: 25px;
  }

#busqueda{
    margin-top: 1ch;
    margin-bottom: 1ch;
    margin-right: 11ch;
    margin-left: 1ch;
    float: right;   
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: left;
  }
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}