.eggplat{
    background-color: #6c425B;
}
.border-eggplat{
    border: 5px solid #6c425B;
}
.border-mauve{
    border: 5px solid #DFC1F3;
}
.border-img{
    padding-left: 20%;
    padding-right: 20%;
   
  
}
.top-img{
    max-height: 300px;
    padding-bottom: 10px;
}
.bot-img{
    background-color: white;
    height: 150px;
    border: Solid 5px #6c425B;
}

.actual{
    margin-top: -20px;
    background-color: white;
}
